.row-header {
    margin: 0 auto;
    padding: 0 auto;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0 auto;
    background-color: rgb(74, 188, 74);
    color: #fff;
}

.row-content {
    margin: 0 auto;
    padding: 50px 0 50px 0;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    background-color: rgb(96, 208, 96);
    margin: 0 auto;
    padding: 20px 0 20px 0;
}

address {
    font-size: 80%;
    margin: 0 auto;
    color: #0f0f0f;
}